<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Package Selectorss</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link rel="dns-prefetch" href="//campaigns.apps.29next.com">
    <link rel="dns-prefetch" href="//cdn-countries.muddy-wind-c7ca.workers.dev">
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net">

    <!-- Campaign Configuration -->
    <script src="/config.js"></script>
    <!-- Campaign Loader Script -->
    <script src="https://cdn.jsdelivr.net/gh/sellmore-co/campaign-cart@v0.2.11/dist/loader.js" type="module"></script>


    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/css/components.css" rel="stylesheet" type="text/css">
    <link href="/css/next-staging-core.css" rel="stylesheet" type="text/css">
    <link href="/css/custom.css" rel="stylesheet" type="text/css">


    <link href="../images/favicon.png" rel="shortcut icon" type="image/x-icon">
    <link href="../images/webclip.png" rel="apple-touch-icon"><!--  Varify.io® code for Blackout Media -->



    <style>
      html:not(.next-display-ready) [data-next-await] {
        position: relative;
        overflow: hidden;
        border-color: transparent !important;
        box-shadow: none !important;
      }

      [data-next-await] * {
        opacity: 0;
        transition: opacity 0.2s ease;
      }

      [data-next-await]::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #e0e0e0;
        animation: pulse-gray 1.5s ease-in-out infinite;
        z-index: 1;
        pointer-events: none;
      }

      @keyframes pulse-gray {

        0%,
        100% {
          background-color: #e0e0e0;
          opacity: 0.6;
        }

        50% {
          background-color: #f5f5f5;
          opacity: 0.8;
        }
      }

      html.next-display-ready [data-next-await] * {
        opacity: 1;
      }

      html.next-display-ready [data-next-await]::before {
        display: none;
      }

    </style>


  </head>
  <body>
    <div class="page-wrapper">

      <main class="main-wrapper">
        <div class="section">
          <div class="container">
            <div class="headline-component">
              <h1>Package Selectors</h1>
              <div>This is some text inside of a div block.</div>
            </div>
            <div class="showcase_components">
              <div class="comp-showcase">
                <div class="showcase-holder">
                  <div data-next-selector-id="drone-packages" data-next-cart-selector="" data-next-selection-mode="swap" class="os-option">
                    <div class="os-cards__vertical os--gap-m">
                      <div data-next-shipping-id="1" role="button" data-next-selector-card="" data-next-package-id="4" data-next-quantity="1" data-next-selected="true" data-next-await="" class="os-card next-selected">
                        <div os-slot="header" class="os-card__header-slot"></div>
                        <div class="os-card__wrapper">
                          <div class="os-card__content os--align-middle">
                            <div data-selected="true" class="radio-style-1">
                              <div class="radio-inner"></div>
                            </div>
                            <div class="os-card__image-slot hide-tablet"><img data-next-display="package.image" class="image"></div>
                            <div os-slot="left" class="os-card__main-slot">
                              <div os-component="title-section" class="os-card__title-section">
                                <div class="os-card__title-wrapper">
                                  <div data-next-display="package.name" class="os-card__title">Package Title</div>
                                  <div data-next-show="package.hasSavings" class="os-card__title-badge pb--bestseller">
                                    <div>SAVE <span data-next-display="package.savingsPercentage">-</span></div>
                                  </div>
                                </div>
                                <div class="os-card__subtitle-wrapper">
                                  <div data-next-show="package.hasSavings" class="os-card__subtitle-text">Save <span data-next-display="package.savingsAmount">$0.00</span><span data-next-show="shipping.isFree"> + Free Shipping</span></div>
                                </div>
                              </div>
                            </div>
                            <div os-slot="right" class="os-card__secondary-slot">
                              <div class="os-card__pricing">
                                <div os-component="price-container" class="os-card__price-container">
                                  <div data-next-show="package.hasRetailPrice" data-next-display="package.price_retail" class="os-card__price os--compare os-style">-</div>
                                  <div class="os-card__price os--current"><span data-next-display="package.price">-</span>/ea</div>
                                </div>
                                <div os-component="total-container" class="os-card__total-container">
                                  <div class="os-card__total-label">Total:</div>
                                  <div data-next-show="package.hasRetailPrice" data-next-display="package.price_retail_total" class="os-card__total-compare">-</div>
                                  <div data-next-display="package.price_total" class="os-card__total-current">-</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div os-slot="bottom" class="os-card__bottom-slot hide"></div>
                        </div>
                        <div os-slot="footer" class="os-card__footer-slot"></div>
                        <div os-slot="label" class="os-card__label-slot">
                          <div os-label-position="top-right" class="os-card__label os-card__label--top-right">
                            <div class="os-card__label-text">BEST DEAL</div>
                          </div>
                        </div>
                      </div>
                      <div data-next-shipping-id="2" role="button" data-next-selector-card="" data-next-package-id="3" data-next-quantity="1" data-next-await="" class="os-card">
                        <div os-slot="header" class="os-card__header-slot"></div>
                        <div class="os-card__wrapper">
                          <div class="os-card__content os--align-middle">
                            <div data-selected="true" class="radio-style-1">
                              <div class="radio-inner"></div>
                            </div>
                            <div class="os-card__image-slot hide-tablet"><img data-next-display="package.image" class="image"></div>
                            <div os-slot="left" class="os-card__main-slot">
                              <div os-component="title-section" class="os-card__title-section">
                                <div class="os-card__title-wrapper">
                                  <div data-next-display="package.name" class="os-card__title">Package Title</div>
                                  <div data-next-show="package.hasSavings" class="os-card__title-badge pb--bestseller">
                                    <div>SAVE <span data-next-display="package.savingsPercentage">-</span></div>
                                  </div>
                                </div>
                                <div class="os-card__subtitle-wrapper">
                                  <div data-next-show="package.hasSavings" class="os-card__subtitle-text">Save <span data-next-display="package.savingsAmount">$0.00 + Free Shipping</span></div>
                                </div>
                              </div>
                            </div>
                            <div os-slot="right" class="os-card__secondary-slot">
                              <div class="os-card__pricing">
                                <div os-component="price-container" class="os-card__price-container">
                                  <div data-next-display="package.price_retail" class="os-card__price os--compare os-style">-</div>
                                  <div class="os-card__price os--current"><span data-next-display="package.price">-</span>/ea</div>
                                </div>
                                <div os-component="total-container" class="os-card__total-container">
                                  <div class="os-card__total-label">Total:</div>
                                  <div data-next-show="package.hasRetailPrice" data-next-display="package.price_retail_total" class="os-card__total-compare">-</div>
                                  <div data-next-display="package.price_total" class="os-card__total-current">-</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div os-slot="bottom" class="os-card__bottom-slot hide"></div>
                        </div>
                        <div os-slot="footer" class="os-card__footer-slot"></div>
                      </div>
                      <div data-next-shipping-id="2" role="button" data-next-selector-card="" data-next-package-id="2" data-next-quantity="1" data-next-await="" class="os-card">
                        <div os-slot="header" class="os-card__header-slot"></div>
                        <div class="os-card__wrapper">
                          <div class="os-card__content os--align-middle">
                            <div data-selected="true" class="radio-style-1">
                              <div class="radio-inner"></div>
                            </div>
                            <div class="os-card__image-slot hide-tablet"><img data-next-display="package.image" class="image"></div>
                            <div os-slot="left" class="os-card__main-slot">
                              <div os-component="title-section" class="os-card__title-section">
                                <div class="os-card__title-wrapper">
                                  <div data-next-display="package.name" class="os-card__title">Package Title</div>
                                  <div data-next-show="package.hasSavings" class="os-card__title-badge pb--bestseller">
                                    <div>SAVE <span data-next-display="package.savingsPercentage">-</span></div>
                                  </div>
                                </div>
                                <div class="os-card__subtitle-wrapper">
                                  <div data-next-show="package.hasSavings" class="os-card__subtitle-text">Save <span data-next-display="package.savingsAmount">$0.00</span><span data-next-show="shipping.isFree"> + Free Shipping</span></div>
                                </div>
                              </div>
                            </div>
                            <div os-slot="right" class="os-card__secondary-slot">
                              <div class="os-card__pricing">
                                <div os-component="price-container" class="os-card__price-container">
                                  <div data-next-display="package.price_retail" class="os-card__price os--compare os-style">-</div>
                                  <div class="os-card__price os--current"><span data-next-display="package.price">-</span>/ea</div>
                                </div>
                                <div os-component="total-container" class="os-card__total-container">
                                  <div class="os-card__total-label">Total:</div>
                                  <div data-next-show="package.hasRetailPrice" data-next-display="package.price_retail_total" class="os-card__total-compare">-</div>
                                  <div data-next-display="package.price_total" class="os-card__total-current os-dark">-</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div os-slot="bottom" class="os-card__bottom-slot hide"></div>
                        </div>
                        <div os-slot="footer" class="os-card__footer-slot"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="comp-showcase">
                <div class="showcase-holder">
                  <div data-next-selector-id="drone-packages" os-component="selector" data-next-selection-mode="swap" class="os-option">
                    <div class="os-cards__vertical os--gap-lg">
                      <div data-next-await="" role="button" data-next-selector-card="" data-next-package-id="4" data-next-quantity="1" data-next-selected="true" data-next-shipping-id="1" class="os-card next-selected">
                        <div os-slot="header" class="os-card__header-slot"></div>
                        <div class="os-card__wrapper">
                          <div class="os-card__content">
                            <div os-component="radio" class="os-card__radio">
                              <div data-selected="true" class="radio-style-1">
                                <div class="radio-inner"></div>
                              </div>
                            </div>
                            <div class="os-card__image-slot"><img data-next-display="package.image" class="image"></div>
                            <div os-slot="left" class="os-card__main-slot">
                              <div os-component="title-section" class="os-card__title-section os--full">
                                <div class="os-card__title-wrapper os--vertical">
                                  <div data-next-display="package.name" class="os-card__title">Package Title</div>
                                </div>
                                <div data-next-show="package.hasSavings" class="os--badge">Save&nbsp; <span data-next-display="package.savingsPercentage">40%</span></div>
                              </div>
                            </div>
                            <div os-slot="right" class="os-card__secondary-slot">
                              <div class="os-card__pricing">
                                <div os-component="price-container" class="os-card__price-container os--stacked">
                                  <div data-next-display="package.price_retail_total" class="os-card__price os--compare ts-sm">$174.95</div>
                                  <div class="os-card__price os--current ts-md"><span data-next-display="package.price">$16.95</span>/ea</div>
                                  <div data-next-show="shipping.isFree" class="text-xs">+FREE SHIPPING</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div os-slot="bottom" class="os-card__bottom-slot hide"></div>
                        </div>
                        <div os-slot="footer" class="os-card__footer-slot"></div>
                        <div os-slot="label" class="os-card__label-slot">
                          <div os-label-position="top-right" class="os-card__label os-card__label--middle-left">
                            <div class="os-card__label-text">BEST DEAL</div>
                          </div>
                        </div>
                      </div>
                      <div data-next-await="" role="button" data-next-selector-card="" data-next-package-id="3" data-next-quantity="1" data-next-shipping-id="1" class="os-card">
                        <div os-slot="header" class="os-card__header-slot"></div>
                        <div class="os-card__wrapper">
                          <div class="os-card__content">
                            <div os-component="radio" class="os-card__radio">
                              <div data-selected="true" class="radio-style-1">
                                <div class="radio-inner"></div>
                              </div>
                            </div>
                            <div class="os-card__image-slot"><img data-next-display="package.image" class="image"></div>
                            <div os-slot="left" class="os-card__main-slot">
                              <div os-component="title-section" class="os-card__title-section os--full">
                                <div class="os-card__title-wrapper os--vertical">
                                  <div data-next-display="package.name" class="os-card__title">Package Title</div>
                                </div>
                                <div data-next-show="package.hasSavings" class="os--badge">Save&nbsp; <span data-next-display="package.savingsPercentage">40%</span></div>
                              </div>
                            </div>
                            <div os-slot="right" class="os-card__secondary-slot">
                              <div class="os-card__pricing">
                                <div os-component="price-container" class="os-card__price-container os--stacked">
                                  <div data-next-display="package.price_retail_total" class="os-card__price os--compare ts-sm">$174.95</div>
                                  <div class="os-card__price os--current ts-md"><span data-next-display="package.price">$16.95</span>/ea</div>
                                  <div data-next-show="shipping.isFree" class="text-xs">+FREE SHIPPING</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div os-slot="bottom" class="os-card__bottom-slot hide"></div>
                        </div>
                        <div os-slot="footer" class="os-card__footer-slot"></div>
                        <div os-slot="label" class="os-card__label-slot">
                          <div os-label-position="top-right" class="os-card__label os-card__label--middle-left">
                            <div class="os-card__label-text">BEST DEAL</div>
                          </div>
                        </div>
                      </div>
                      <div data-next-await="" role="button" data-next-selector-card="" data-next-package-id="2" data-next-quantity="1" data-next-shipping-id="2" class="os-card">
                        <div os-slot="header" class="os-card__header-slot"></div>
                        <div class="os-card__wrapper">
                          <div class="os-card__content">
                            <div os-component="radio" class="os-card__radio">
                              <div data-selected="true" class="radio-style-1">
                                <div class="radio-inner"></div>
                              </div>
                            </div>
                            <div class="os-card__image-slot"><img data-next-display="package.image" class="image"></div>
                            <div os-slot="left" class="os-card__main-slot">
                              <div os-component="title-section" class="os-card__title-section os--full">
                                <div class="os-card__title-wrapper os--vertical">
                                  <div data-next-display="package.name" class="os-card__title">Package Title</div>
                                </div>
                                <div data-next-show="package.hasSavings" class="os--badge">Save&nbsp; <span data-next-display="package.savingsPercentage">40%</span></div>
                              </div>
                            </div>
                            <div os-slot="right" class="os-card__secondary-slot">
                              <div class="os-card__pricing">
                                <div os-component="price-container" class="os-card__price-container os--stacked">
                                  <div data-next-display="package.price_retail_total" class="os-card__price os--compare ts-sm">$174.95</div>
                                  <div class="os-card__price os--current ts-md"><span data-next-display="package.price">$16.95</span>/ea</div>
                                  <div data-next-show="shipping.isFree" class="text-xs">+FREE SHIPPING</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div os-slot="bottom" class="os-card__bottom-slot hide"></div>
                        </div>
                        <div os-slot="footer" class="os-card__footer-slot"></div>
                        <div os-slot="label" class="os-card__label-slot">
                          <div os-label-position="top-right" class="os-card__label os-card__label--middle-left">
                            <div class="os-card__label-text">BEST DEAL</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="comp-showcase">
                <div class="showcase-holder">
                  <div data-next-selector-id="drone-packages" os-component="selector" data-next-selection-mode="swap" class="os-option">
                    <div class="os-cards__vertical os--gap-m">
                      <div data-next-await="" role="button" data-next-selector-card="" data-next-package-id="4" data-next-quantity="1" data-next-selected="true" data-next-shipping-id="1" class="os-card next-selected">
                        <div os-slot="header" class="os-card__header-slot"></div>
                        <div class="os-card__wrapper">
                          <div class="os-card__content os--align-middle">
                            <div os-component="radio" class="os-card__radio">
                              <div data-selected="true" class="radio-style-1">
                                <div class="radio-inner"></div>
                              </div>
                            </div>
                            <div class="os-card__image-slot"><img data-next-display="package.image" class="image"></div>
                            <div os-slot="left" class="os-card__main-slot">
                              <div os-component="title-section" class="os-card__title-section">
                                <div class="os-card__title-wrapper">
                                  <div data-next-display="package.name" class="os-card__title">Package Title</div>
                                  <div data-next-show="package.hasSavings" class="os-card__title-badge pb--bestseller">
                                    <div>SAVE <span data-next-display="package.savingsPercentage">-</span></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div os-slot="right" class="os-card__secondary-slot">
                              <div class="os-card__pricing">
                                <div os-component="price-container" class="os-card__price-container os--stacked">
                                  <div data-next-display="package.price_total" class="os-card__price os--current">$29</div>
                                  <div data-next-display="package.price_retail_total" class="os-card__price os--compare">$47</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div os-slot="bottom" class="os-card__bottom-slot hide"></div>
                        </div>
                        <div os-slot="footer" class="os-card__footer-slot"></div>
                        <div os-slot="label" class="os-card__label-slot"></div>
                      </div>
                      <div data-next-await="" role="button" data-next-selector-card="" data-next-package-id="2" data-next-quantity="1" data-next-shipping-id="2" class="os-card">
                        <div os-slot="header" class="os-card__header-slot"></div>
                        <div class="os-card__wrapper">
                          <div class="os-card__content os--align-middle">
                            <div os-component="radio" class="os-card__radio">
                              <div data-selected="true" class="radio-style-1">
                                <div class="radio-inner"></div>
                              </div>
                            </div>
                            <div class="os-card__image-slot"><img data-next-display="package.image" class="image"></div>
                            <div os-slot="left" class="os-card__main-slot">
                              <div os-component="title-section" class="os-card__title-section">
                                <div class="os-card__title-wrapper">
                                  <div data-next-display="package.name" class="os-card__title">Package Title</div>
                                  <div data-next-show="package.hasSavings" class="os-card__title-badge pb--bestseller">
                                    <div>SAVE <span data-next-display="package.savingsPercentage">-</span></div>
                                  </div>
                                </div>
                                <div class="os-card__subtitle-wrapper">
                                  <div data-next-show="package.shipping.isFree" class="os-card__subtitle-text">Free Priority Shipping</div>
                                </div>
                              </div>
                            </div>
                            <div os-slot="right" class="os-card__secondary-slot">
                              <div class="os-card__pricing">
                                <div os-component="price-container" class="os-card__price-container os--stacked">
                                  <div data-next-display="package.price_total" class="os-card__price os--current">$29</div>
                                  <div data-next-display="package.price_retail_total" class="os-card__price os--compare">$47</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div os-slot="bottom" class="os-card__bottom-slot hide"></div>
                        </div>
                        <div os-slot="footer" class="os-card__footer-slot">
                          <div os-component="banner" class="os-card__footer-banner">
                            <div class="os-card__banner-image"><img loading="lazy" src="/images/icon.svg" alt="" class="os_card__banner-image_item"></div>
                            <div class="os-card__banner-cont os--align-center">
                              <div><strong>Description about footer element.</strong></div>
                            </div>
                          </div>
                        </div>
                        <div os-slot="label" class="os-card__label-slot"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="comp-showcase">
                <div class="showcase-holder">
                  <div data-next-selector-id="drone-packages" os-component="selector" data-next-selection-mode="swap" class="os-option">
                    <div class="os-cards__grid">
                      <div data-next-await="" role="button" data-next-selector-card="" data-next-package-id="4" data-next-quantity="1" data-next-selected="true" data-next-shipping-id="1" class="os-card next-selected">
                        <div os-slot="header" class="os-card__header-slot"></div>
                        <div class="os-card__wrapper">
                          <div class="os-card__content os--align-top">
                            <div os-slot="left" class="os-card__main-slot">
                              <div os-component="title-section" class="os-card__title-section os--min-2">
                                <div class="os-card__title-wrapper">
                                  <div data-next-display="package.name" class="os-card__title">Package Title</div>
                                </div>
                              </div>
                            </div>
                            <div os-component="radio" class="os-card__radio">
                              <div data-selected="true" class="radio-style-1">
                                <div class="radio-inner"></div>
                              </div>
                            </div>
                          </div>
                          <div os-slot="bottom" class="os-card__bottom-slot">
                            <div class="os-card__image-slot cc-full"><img data-next-display="package.image" class="image"></div>
                            <div os-component="features-list" class="os-card__features">
                              <ul role="list" class="os-card__features-list w-list-unstyled">
                                <li class="os-card__feature-item">
                                  <div>
                                    <div class="os-card__benefit-icon-svg w-embed"><svg width="13" height="10" viewBox="0 0 13 10" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" fill="CurrentColor" class="tw-mr-2">
                                        <path d="M12.265 0.182296C12.0219 -0.0607654 11.6279 -0.0607654 11.3848 0.182296L3.92853 7.63866L1.06245 4.77258C0.819416 4.52952 0.425382 4.52955 0.182296 4.77258C-0.0607654 5.01562 -0.0607654 5.40966 0.182296 5.65272L3.48845 8.95882C3.73142 9.20186 4.12574 9.20169 4.36861 8.95882L12.265 1.06245C12.508 0.819416 12.508 0.425358 12.265 0.182296Z" fill="inherit"></path>
                                      </svg></div>
                                  </div>
                                  <div class="os-card__feature-text">PRESSURE-RELIEVING</div>
                                </li>
                                <li class="os-card__feature-item">
                                  <div>
                                    <div class="os-card__benefit-icon-svg w-embed"><svg width="13" height="10" viewBox="0 0 13 10" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" fill="CurrentColor" class="tw-mr-2">
                                        <path d="M12.265 0.182296C12.0219 -0.0607654 11.6279 -0.0607654 11.3848 0.182296L3.92853 7.63866L1.06245 4.77258C0.819416 4.52952 0.425382 4.52955 0.182296 4.77258C-0.0607654 5.01562 -0.0607654 5.40966 0.182296 5.65272L3.48845 8.95882C3.73142 9.20186 4.12574 9.20169 4.36861 8.95882L12.265 1.06245C12.508 0.819416 12.508 0.425358 12.265 0.182296Z" fill="inherit"></path>
                                      </svg></div>
                                  </div>
                                  <div class="os-card__feature-text">OTHER BENEFIT</div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div os-slot="footer" class="os-card__footer-slot"></div>
                      </div>
                      <div data-next-await="" role="button" data-next-selector-card="" data-next-package-id="3" data-next-quantity="1" data-next-shipping-id="1" class="os-card">
                        <div os-slot="header" class="os-card__header-slot"></div>
                        <div class="os-card__wrapper">
                          <div class="os-card__content os--align-top">
                            <div os-slot="left" class="os-card__main-slot">
                              <div os-component="title-section" class="os-card__title-section os--min-2">
                                <div class="os-card__title-wrapper">
                                  <div data-next-display="package.name" class="os-card__title">Package Title</div>
                                </div>
                                <div class="os-card__subtitle-wrapper">
                                  <div class="os-card__subtitle-text">+$300</div>
                                </div>
                              </div>
                            </div>
                            <div os-component="radio" class="os-card__radio">
                              <div data-selected="true" class="radio-style-1">
                                <div class="radio-inner"></div>
                              </div>
                            </div>
                          </div>
                          <div os-slot="bottom" class="os-card__bottom-slot">
                            <div class="os-card__image-slot cc-full"><img data-next-display="package.image" class="image"></div>
                            <div os-component="features-list" class="os-card__features">
                              <ul role="list" class="os-card__features-list w-list-unstyled">
                                <li class="os-card__feature-item">
                                  <div>
                                    <div class="os-card__benefit-icon-svg w-embed"><svg width="13" height="10" viewBox="0 0 13 10" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" fill="CurrentColor" class="tw-mr-2">
                                        <path d="M12.265 0.182296C12.0219 -0.0607654 11.6279 -0.0607654 11.3848 0.182296L3.92853 7.63866L1.06245 4.77258C0.819416 4.52952 0.425382 4.52955 0.182296 4.77258C-0.0607654 5.01562 -0.0607654 5.40966 0.182296 5.65272L3.48845 8.95882C3.73142 9.20186 4.12574 9.20169 4.36861 8.95882L12.265 1.06245C12.508 0.819416 12.508 0.425358 12.265 0.182296Z" fill="inherit"></path>
                                      </svg></div>
                                  </div>
                                  <div class="os-card__feature-text">PRESSURE-RELIEVING</div>
                                </li>
                                <li class="os-card__feature-item">
                                  <div>
                                    <div class="os-card__benefit-icon-svg w-embed"><svg width="13" height="10" viewBox="0 0 13 10" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" fill="CurrentColor" class="tw-mr-2">
                                        <path d="M12.265 0.182296C12.0219 -0.0607654 11.6279 -0.0607654 11.3848 0.182296L3.92853 7.63866L1.06245 4.77258C0.819416 4.52952 0.425382 4.52955 0.182296 4.77258C-0.0607654 5.01562 -0.0607654 5.40966 0.182296 5.65272L3.48845 8.95882C3.73142 9.20186 4.12574 9.20169 4.36861 8.95882L12.265 1.06245C12.508 0.819416 12.508 0.425358 12.265 0.182296Z" fill="inherit"></path>
                                      </svg></div>
                                  </div>
                                  <div class="os-card__feature-text">OTHER BENEFIT</div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div os-slot="footer" class="os-card__footer-slot"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>


  </body>
</html>
