<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Variant Selectors</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link rel="dns-prefetch" href="//campaigns.apps.29next.com">
    <link rel="dns-prefetch" href="//cdn-countries.muddy-wind-c7ca.workers.dev">
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net">

    <!-- Campaign Configuration -->
    <script src="/config.js"></script>
    <!-- Campaign Loader Script -->
    <script src="https://cdn.jsdelivr.net/gh/sellmore-co/campaign-cart@v0.2.28/dist/loader.js" type="module"></script>


    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/css/components.css" rel="stylesheet" type="text/css">
    <link href="/css/next-staging-core.css" rel="stylesheet" type="text/css">
    <link href="/css/custom.css" rel="stylesheet" type="text/css">
    <link href="/css/components-variant-selectors.css" rel="stylesheet" type="text/css">


    <link href="/images/favicon.png" rel="shortcut icon" type="image/x-icon">
    <link href="/images/webclip.png" rel="apple-touch-icon">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </head>
  <body>
    <div class="page-wrapper">

      <div>
        <div class="slot-override w-embed">

        </div>
        <div class="form-main w-embed">

        </div>
        <div class="auto-expand w-embed">

        </div>
      </div>
      <main class="main-wrapper">
        <div class="section">
          <div class="container">
            <div class="headline-component">
              <h1>Variant Selectors</h1>
              <div>This is some text inside of a div block.</div>
            </div>
            <div class="showcase_components">
              <div class="comp-showcase">
                <div class="showcase-holder os-full">
                  <div class="os-variant__content">
                    <div class="pair-numbersss">
                      <div os-slot-step="container" class="pair-circle is-active">
                        <div os-slot-step="number" class="step-number">1</div>
                        <div os-slot-step="icon" class="step-check w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M4 12.5 9.5 18 20 6"></path>
                          </svg></div>
                      </div>
                    </div>
                    <div class="pb-qunatity__information">
                      <div class="grid_shoes">
                        <div id="w-node-_5249f644-3879-f744-2cd6-38345a2d22c0-5dd703e4" class="selector_wrap">
                          <div class="selector-label">Select Color: Black Orca</div>
                          <div os-component="variant-dropdown" class="os-card__variant-dropdown-wrapper">
                            <div class="os-card__variant-dropdown-component">
                              <div os-element="dropdown-toggle" aria-expanded="false" class="os-card__variant-dropdown-toggle">
                                <div class="os-card__toggle-option"><img sizes="(max-width: 770px) 100vw, 770px" srcset="/images/black_product-1-p-500.png 500w, /images/black_product-1.png 770w" alt="" src="/images/black_product-1.png" loading="lazy" class="variant-product-color">
                                  <div class="os-card__variant-toggle-info">
                                    <div class="os-card__variant-toggle-name">Black Orca</div>
                                  </div>
                                </div>
                                <div class="os-card__variant-dropdown-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                    <path d="M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z"></path>
                                  </svg></div>
                              </div>
                              <div os-element="dropdown-menu" class="os-card__variant-dropdown-menu">
                                <div class="os-card__variant-dropdown-list">
                                  <div os-element="dropdown-item" data-value="navy" data-color="navy" class="os-card__variant-dropdown-item selected">
                                    <div class="os-card__toggle-option">
                                      <div class="os-card__variant-toggle-info"><img sizes="(max-width: 479px) 87vw, (max-width: 991px) 90vw, 731.5px" srcset="/images/black_product-1-p-500.png 500w, /images/black_product-1.png 770w" alt="" src="/images/black_product-1.png" loading="lazy" class="variant-product-color">
                                        <div class="os-card__variant-toggle-name">Black Orca</div>
                                      </div>
                                    </div>
                                  </div>
                                  <div os-element="dropdown-item" data-value="navy" data-color="navy" class="os-card__variant-dropdown-item">
                                    <div class="os-card__toggle-option">
                                      <div class="os-card__variant-toggle-info"><img sizes="(max-width: 479px) 87vw, (max-width: 991px) 90vw, 734.3499755859375px" srcset="/images/white_product-p-500.png 500w, /images/white_product.png 773w" alt="" src="/images/white_product.png" loading="lazy" class="variant-product-color">
                                        <div class="os-card__variant-toggle-name">White Citrus</div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="selector_wrap">
                          <div class="selector-label">Select Size</div>
                          <div os-component="variant-dropdown" class="os-card__variant-dropdown-wrapper">
                            <div class="os-card__variant-dropdown-component">
                              <div os-element="dropdown-toggle" aria-expanded="false" class="os-card__variant-dropdown-toggle">
                                <div class="os-card__toggle-option">
                                  <div class="os-card__variant-toggle-info">
                                    <div class="os-card__variant-toggle-name">MEN 5 / WOMEN 6.5</div>
                                  </div>
                                </div>
                                <div class="os-card__variant-dropdown-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                    <path d="M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z"></path>
                                  </svg></div>
                              </div>
                              <div os-element="dropdown-menu" class="os-card__variant-dropdown-menu">
                                <div class="os-card__variant-dropdown-list">
                                  <div os-element="dropdown-item" data-value="navy" data-color="navy" class="os-card__variant-dropdown-item selected">
                                    <div class="os-card__toggle-option">
                                      <div class="os-card__variant-toggle-info">
                                        <div class="os-card__variant-toggle-name">MEN 4.5 / WOMEN 6</div>
                                      </div>
                                    </div>
                                  </div>
                                  <div os-element="dropdown-item" data-value="navy" data-color="navy" class="os-card__variant-dropdown-item">
                                    <div class="os-card__toggle-option">
                                      <div class="os-card__variant-toggle-info">
                                        <div class="os-card__variant-toggle-name">MEN 5 / WOMEN 6.5</div>
                                      </div>
                                    </div>
                                  </div>
                                  <div os-element="dropdown-item" data-value="navy" data-color="navy" class="os-card__variant-dropdown-item">
                                    <div class="os-card__toggle-option">
                                      <div class="os-card__variant-toggle-info">
                                        <div class="os-card__variant-toggle-name">MEN 6 / WOMEN 7.5</div>
                                      </div>
                                    </div>
                                  </div>
                                  <div os-element="dropdown-item" data-value="navy" data-color="navy" class="os-card__variant-dropdown-item">
                                    <div class="os-card__toggle-option">
                                      <div class="os-card__variant-toggle-info">
                                        <div class="os-card__variant-toggle-name">MEN 6.5 / WOMEN 8</div>
                                      </div>
                                    </div>
                                  </div>
                                  <div os-element="dropdown-item" data-value="navy" data-color="navy" class="os-card__variant-dropdown-item">
                                    <div class="os-card__toggle-option">
                                      <div class="os-card__variant-toggle-info">
                                        <div class="os-card__variant-toggle-name">MEN 7.5 / WOMEN 9</div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="comp-showcase">
                <div class="showcase-holder os-full">
                  <div class="variant_group">
                    <div class="os-card__variant-label-item">
                      <div>Custom Select</div>
                    </div>
                    <div os-component="variant-dropdown" class="os-card__variant-dropdown-wrapper">
                      <div class="os-card__variant-dropdown-component">
                        <div os-element="dropdown-toggle" aria-expanded="false" class="os-card__variant-dropdown-toggle">
                          <div class="os-card__toggle-option os--distribute">
                            <div class="os-card__variant-toggle-info">
                              <div class="os-card__variant-toggle-name">Twin</div>
                            </div>
                            <div class="os-card__variant-toggle-price">
                              <div class="os-card__variant-toggle-price--compare">(Total Value $1,598)</div>
                              <div class="os-card__variant-toggle-price--sale">$649</div>
                            </div>
                          </div>
                          <div class="os-card__variant-dropdown-icon w-embed"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiSelect-icon MuiSelect-iconOutlined mui-1dngmot" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ArrowDropDownIcon">
                              <path d="M7 10l5 5 5-5z"></path>
                            </svg></div>
                        </div>
                        <div os-element="dropdown-menu" class="os-card__variant-dropdown-menu">
                          <div class="os-card__variant-dropdown-list">
                            <div os-element="dropdown-item" data-value="navy" data-color="navy" class="os-card__variant-dropdown-item selected">
                              <div class="os-card__toggle-option os--distribute">
                                <div class="os-card__variant-toggle-info">
                                  <div class="os-card__variant-toggle-name os--font-bold">Twin</div>
                                </div>
                                <div class="os-card__variant-toggle-price">
                                  <div class="os-card__variant-toggle-price--compare">(Total Value $1,598)</div>
                                  <div class="os-card__variant-toggle-price--sale">$649</div>
                                </div>
                              </div>
                            </div>
                            <div os-element="dropdown-item" data-value="navy" data-color="navy" class="os-card__variant-dropdown-item">
                              <div class="os-card__toggle-option os--distribute">
                                <div class="os-card__variant-toggle-info">
                                  <div class="os-card__variant-toggle-name os--font-bold">Twin XL</div>
                                </div>
                                <div class="os-card__variant-toggle-price">
                                  <div class="os-card__variant-toggle-price--compare">(Total Value $1,598)</div>
                                  <div class="os-card__variant-toggle-price--sale">$649</div>
                                </div>
                              </div>
                            </div>
                            <div os-element="dropdown-item" data-value="navy" data-color="navy" class="os-card__variant-dropdown-item">
                              <div class="os-card__toggle-option os--distribute">
                                <div class="os-card__variant-toggle-info">
                                  <div class="os-card__variant-toggle-name os--font-bold">Full</div>
                                </div>
                                <div class="os-card__variant-toggle-price">
                                  <div class="os-card__variant-toggle-price--compare">(Total Value $1,598)</div>
                                  <div class="os-card__variant-toggle-price--sale">$649</div>
                                </div>
                              </div>
                            </div>
                            <div os-element="dropdown-item" data-value="navy" data-color="navy" class="os-card__variant-dropdown-item">
                              <div class="os-card__toggle-option os--distribute">
                                <div class="os-card__variant-toggle-info">
                                  <div class="os-card__variant-toggle-name os--font-bold">Queen</div>
                                </div>
                                <div class="os-card__variant-toggle-price">
                                  <div class="os-card__variant-toggle-price--compare">(Total Value $1,598)</div>
                                  <div class="os-card__variant-toggle-price--sale">$649</div>
                                </div>
                              </div>
                            </div>
                            <div os-element="dropdown-item" data-value="navy" data-color="navy" class="os-card__variant-dropdown-item">
                              <div class="os-card__toggle-option os--distribute">
                                <div class="os-card__variant-toggle-info">
                                  <div class="os-card__variant-toggle-name os--font-bold">King</div>
                                </div>
                                <div class="os-card__variant-toggle-price">
                                  <div class="os-card__variant-toggle-price--compare">(Total Value $1,598)</div>
                                  <div class="os-card__variant-toggle-price--sale">$649</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="comp-showcase">
                <div class="showcase-holder os-full">
                  <div class="variant_group">
                    <div class="os-card__variant-label-item">
                      <div>Color Swatch</div>
                    </div>
                    <div os-component="variant-swatches" class="os-card__variant-swatches">
                      <div os-element="swatch-item" os-swatch="red" class="os-card__variant-swatch os-card__variant-swatch--selected"></div>
                      <div os-element="swatch-item" os-swatch="cream" class="os-card__variant-swatch"></div>
                      <div os-element="swatch-item" os-swatch="teal" class="os-card__variant-swatch"></div>
                      <div os-element="swatch-item" os-swatch="blue" class="os-card__variant-swatch"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="comp-showcase">
                <div class="showcase-holder os-full">
                  <div class="variant_group">
                    <div class="os-card__variant-label-item">
                      <div>Card Select</div>
                    </div>
                    <div os-component="variant-buttons" class="os-card__variant-sizes">
                      <div os-element="button-item" class="os-card__variant-size os-card__variant-size--selected">
                        <div>S</div>
                      </div>
                      <div os-element="button-item" class="os-card__variant-size">
                        <div>M</div>
                      </div>
                      <div os-element="button-item" class="os-card__variant-size">
                        <div>L</div>
                      </div>
                      <div os-element="button-item" class="os-card__variant-size os-card__variant-size--unavailable">
                        <div>XL</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="comp-showcase">
                <div class="showcase-holder os-full">
                  <div class="variant_group">
                    <div class="os-card__variant-label-item">
                      <div>Image Select</div>
                    </div>
                    <div os-component="variant-images" class="os-card__variant-sizes">
                      <div os-element="image-item" class="os-card__variant-image os-card__variant-image--selected"><img loading="lazy" src="/images/icon-transparent.svg" alt=""></div>
                      <div os-element="image-item" class="os-card__variant-image"><img loading="lazy" src="/images/icon-transparent.svg" alt=""></div>
                      <div os-element="image-item" class="os-card__variant-image"><img loading="lazy" src="/images/icon-transparent.svg" alt=""></div>
                      <div os-element="image-item" class="os-card__variant-image"><img loading="lazy" src="/images/icon-transparent.svg" alt=""></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="comp-showcase">
                <div class="showcase-holder"></div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>


    <script defer="" src="/js/components-variant-selectors.js"></script>
  </body>
</html>
